# Global Variables
NODE_ENV=development
PORT=3000

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hiregen

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=2nzNvPG151vn7n6reLEnXP_D7t3mLcSoPFv5oeETqfU
REFRESH_SECRET=CkzMwg1CekFNh5laB7Uq6BMSU0fQbzPxKzwqn5GaMSQ

# Add specific service variables below
